.features_section {
  display: grid;
  width: 100%;
  justify-items: center;
  padding-top: 4rem;
}

.features-header h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 40px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.features-header p {
  margin-top: 1rem;
  font-size: 12px;
  text-align: center;
}
.features-header .line {
  width: 100px;
  margin-top: 1rem;
  height: 5px;
  background-color: brown;
  border: none;
  margin-left: 130px;
}
.features-content {
  text-align: center;
  padding: 5rem 1rem;
  row-gap: 8rem;
  column-gap: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.content-con {
  width: 300px;
  height: 300px;
  color: black;
  box-shadow: 0 0 5px rgb(193, 120, 120), 0 0 5px rgb(193, 120, 120),
    0 0 20px rgb(193, 120, 120);
  border: solid 1px rgb(193, 120, 120);
  transition: 0.3s;
  padding: 1rem;
  border-radius: 20px;
}
.content-con:hover {
  box-shadow: 0 0 5px brown, 0 0 25px brown, 0 0 50px brown, 0 0 100px brown,
    0 0 200px brown;
}
.content-con h2 {
  font-size: 20px;
  margin: 0.5rem 0rem;
}
.content-con p {
  font-size: 10px;
  text-align: center;
}

/* Media Quary */

/* For 2 Extra Large View */
@media screen and (max-width: 1400px) {
}

/* For  Extra Large View */
@media screen and (max-width: 1200px) {
  .features_section {
    display: grid;
    width: 100%;
    justify-items: center;
    padding-top: 4rem;
  }

  .features-header h1 {
    margin-top: 1rem;
    font-size: 40px;
    font-weight: 900;
  }
  .features-header p {
    margin-top: 1rem;
    font-size: 12px;
    text-align: center;
  }

  .features-content {
    text-align: center;
    padding: 4rem 1rem;
    row-gap: 4rem;
    column-gap: 5rem;
    grid-template-columns: 1fr 1fr;
  }
  .content-con {
    width: 500px;
    height: auto;
    padding: 2rem;
    border-radius: 20px;
  }
  .content-con h2 {
    font-size: 30px;
    margin: 1rem 0;
  }
  .content-con p {
    font-size: 14px;
    text-align: center;
  }
}

/* Large View */
@media screen and (max-width: 992px) {
  .features_section {
    display: grid;
    width: 100%;
    justify-items: center;
    padding-top: 4rem;
  }

  .features-header h1 {
    margin-top: 1rem;
    font-size: 40px;
    font-weight: 900;
  }
  .features-header p {
    margin-top: 1rem;
    font-size: 12px;
    text-align: center;
  }

  .features-content {
    text-align: center;
    padding: 4rem 3rem;
    row-gap: 4rem;
    column-gap: 5rem;
    grid-template-columns: 1fr 1fr;
  }
  .content-con {
    width: 320px;
    height: auto;
  }
  .content-con h2 {
    font-size: 25px;
  }
  .content-con p {
    font-size: 12px;
  }
}

/* Medium View */
@media screen and (max-width: 768px) {
  .features_section {
    display: grid;
    width: 100%;
    justify-items: center;
    padding-top: 4rem;
  }

  .features-header h1 {
    margin-top: 1rem;
    font-size: 40px;
    font-weight: 900;
  }
  .features-header p {
    margin-top: 1rem;
    font-size: 12px;
    text-align: center;
  }

  .features-content {
    text-align: center;
    padding: 4rem 1rem;
    row-gap: 4rem;
    column-gap: 5rem;
    grid-template-columns: 1fr;
  }
  .content-con {
    width: 450px;
    height: auto;
  }
  .content-con h2 {
    font-size: 25px;
  }
  .content-con p {
    font-size: 12px;
  }
}

/* Small View */
@media screen and (max-width: 576px) {
  .content-con {
    width: 320px;
    height: 300px;
  }
}
